<h1>The Star Hair Salon</h1>

<h2>Client List</h2>
<a href='/client/new'>Add a New client<a/>
<br>
<a href='/'>Back to Home<a/>
<br>
<a href='/stylist/find'>Find stylist by Id<a/>
<table>
  <tr>
    <th>Client Name</th>
    <th>Stylist Id</th>
  </tr>
  @foreach(var client in Model)
  {
  <tr>
    <td>@client.GetName()</td>
    <td>@client.GetStylistId()</td>

  </tr>
  }
</table>
