<h1>Employer</h1>
<p><a href="/client">List of Clients</a></p>
<p><a href="/stylist/new">Add Stylist</a></p>
<p><a href="/stylist">List of Stylist</a></p>

<p><a href="/specialitys/new">Add Speciality</a></p>
<p><a href="/specialitys">List of Speciality</a></p>
