<h1>The Star Hair Salon</h1>
<a href='/client/new'>Click here to add new client<a/>
  <br>
<a href='/stylist/new'>Add a New Stylist<a/>
  <br>
<a href='/stylist'>List of Stylist<a/>
<br>
<a href='/specialitys/new'>Add a new speciality<a/>
  <br>
  <a href='/specialitys'>list of speciality<a/>
s
