<h1>Speciality added!</h1>

<p><a href="/specialtys">Return to specialty</a></p>
<p><a href="/client">Return to Client</a></p>
<p><a href="/stylist">Return to Stylist</a></p>
<p><a href="/">Return to Main Page</a></p>
