<h1>The Star Hair Salon</h1>

<a href='/stylist/new'>Add a new stylist<a/>
  <br>
<a href='/'>Back to Home<a/>
  <br>
<a href='/stylist/find'>Find stylist by Id<a/>


<h2>Client List</h2>

  <h3>@Model.GetName() Clients:</h3>
  <ul>
    @foreach(var client in Model.GetClients())
    {
        <li>@client.GetStylistName()</li>
    }
  </ul>
