<h1>Enter a new client</h1>
<a href='/'>Back to Home<a/>

<br>
<a href='/stylist/new'>Add a new stylist<a/>
<br>
<h3>Add a Stylist:</h3>
<form action="/stylist" method="post">
  <label for="name">Stylist name:</label>
  <input id="name" name="name" type="text">
  <label for="detail">Stylist detail:</label>
  <input id="detail" name="detail" type="text">

  <button type="submit">Add</button>
</form>
