<h1>The Star Hair Salon</h1>

<h2>Enter a new stylist</h2>
<p><a href="/client">List of Clients</a></p>
<p><a href="/stylist/new">Add Stylist</a></p>
<p><a href="/stylist">List of Stylist</a></p>
<p><a href="/specialitys">List of Speciality</a></p>

<a href='/'>Back to Home<a/>
<br>
<a href='/stylist/find'>Find stylist by Id<a/>

<br>
<a href='/stylist/new'>Add a new stylist<a/>
<br>
<h3>Add a Stylist:</h3>
<form action="/stylist" method="post">
  <label for="name">Stylist name:</label>
  <input id="name" name="name" type="text">
  <label for="detail">Stylist detail:</label>
  <input id="detail" name="detail" type="text">

  <button type="submit">Add</button>
</form>
