<h1>The Star Hair Salon</h1>

<h2>Find stylist</h2>
<a href='/'>Back to Home<a/>
<a href='/stylist'>Back to List<a/>
<h3>Find stylist by id:</h3>
<form action="/stylist/found" method="post">
  <label for="newid">Id Number:</label>
  <input id="newid" name="newid" type="text">
  <button type="submit">Submit</button>
</form>
