<h1>The Star Hair Salon</h1>

<h2>Stylist</h2>
<a href='/stylist/new'>Add a new stylist<a/>
  <br>
<a href='/'>Back to Home<a/>
  <br>
<a href='/stylist/find'>Find stylist by Id<a/>

<h2>Stylists Details</h2>
<table>
  <tr>
    <th>Stylist Name</th>

    <th>Stylist Level</th>

    <th>Clients</th>

  </tr>

  <tr>
    <td>@Model.GetStylistName()</td>

    <td>@Model.GetStylistDetail()</td>

    <td> <a href="/stylist/@Model.GetId()/clients">Client details</a> </td>

  </tr>

</table>
