@using HairSalon.Models;
<h1>The Star Hair Salon</h1>

<a href='/stylist/new'>Add a new stylist<a/>
  <br>
<a href='/'>Back to Home<a/>
  <br>
<a href='/stylist/find'>Find stylist by Id<a/>

<h2>Stylists Details</h2>
<table>
  <tr>
    <th>Stylist Name</th>

    <th>Stylist Level</th>

    <th>Clients</th>

  </tr>
  @foreach(var stylist in Stylist.GetAll())
  {
  <tr>
    <td>@stylist.GetStylistName()</td>

    <td>@stylist.GetStylistDetail()</td>

    <td> <a href="/stylist/@stylist.GetId()/clients">Client details</a> </td>

  </tr>
  }
</table>

<!-- <ul>
  @foreach(var stylist in Stylist.GetAll())
  {
    <li><a href="/stylist/@stylist.GetId()/stylists">@stylist.GetName() (@stylist.GetStylistDetail()) </a></li>
  }
</ul> -->
