<h1>Add A Speciality</h1>
<hr />
<h2>Add new Speciality</h2>
<p><a href="/stylist/new">Add Stylist</a></p>
<p><a href="/stylist">List of Stylist</a></p>

<h4><a href="/specialitys">List of Specialitys</a></h4>
<h4><a href="/">Return home</a></h4>

<form action="/specialitys" method="post">
  <label for="newspeciality">Speciality:</label>
  <input id="newspeciality" name="newspeciality" type="text">
  <button type="submit">Add</button>
</form>
